html, body{
	font-family: 'Bitter-Regular';
  font-size: 100%;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

fox {
    color: #EA802E;
}

@media only screen and (max-width :600px) {
    #main {
        font-size:4vh;
        font-family: 'Bitter-Regular'
    }
}

a:link {
    text-decoration: none;
    color: #ABAEB2;
}

a:visited {
    color: #ABAEB2;
}

a:hover {
    color: #EA802E;
    cursor: pointer;
}


#header { 
    position: fixed;
    color: #b69577;
    right: 0;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #627495;
    z-index: 5;
    font-family: 'Bitter-Regular';
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
}

#footer { 
    text-align: center;
    background-color: #627495;
    color: #ABAEB2;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 5;
    height: 3vh;
    font-family: 'Bitter-Regular';
    display: flex;
    justify-content: center;
    align-items: center;

}
    
#site_menu {
    position: fixed;
    top: 25vh;
    width: 5vh;
    height: 70vh;
    margin-left: 3vh;
    z-index: 2;
}

@media only screen and (max-width :600px) {
  #site_menu {
    position: absolute;
    top: 80%;
    width: 100%;
    height: 5%;
    padding-left: 0rem;
    text-align: center;
    position: fixed;
  }
}

  .menubutton {
    background-color: #627495; 
    color: #ABAEB2; 
    border: 3px solid #627495;
    padding: 1vh;
    text-align: center;
    text-decoration-color: #ABAEB2;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Bitter-Regular';
    border-radius: 12px;
  }

  @media only screen and (max-width :600px) {
    .menubutton {
      font-size: 1rem;
    }
  }
  
  .menubutton:hover {
    color: #EA802E;
    border-color: #ABAEB2;
    background-color: #506073;
  }

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 87vh;
  margin-top: 10vh;
  
}

@supports(scroll-snap-type: y) {
  .no-support {
    display: none;
  }
}

.container > .content_boxes {
  height: 87vh;
  justify-content: center;
  scroll-snap-align: start;

}

.container .content_boxes:nth-child(5) {
  height: 20vh;
  background-color: #627495;
  border-bottom: none;
}
