html, body{
	font-family: 'Bitter-Regular';
  font-size: 100%;

  height: 100%;
}

fox {
    color: #EA802E;
}

a:link {
    text-decoration: none;
    color: #ABAEB2;
}

a:visited {
    color: #ABAEB2;
}

a:hover {
    color: #EA802E;
    cursor: pointer;
}


#header { 
    position: fixed;
    color: #b69577;
    right: 0;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #627495;
    z-index: 5;
    font-family: 'Bitter-Regular';
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
}

@media only screen and (max-width :600px) {
#header { 
  position: fixed;
  color: #b69577;
  right: 0;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #627495;
  z-index: 5;
  font-family: 'Bitter-Regular';
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
}}

#footer { 
    text-align: center;
    background-color: #627495;
    color: #ABAEB2;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 5;
    height: 3vh;
    font-family: 'Bitter-Regular';
    display: flex;
    justify-content: center;
    align-items: center;

}

@media only screen and (max-width :600px) {
  #footer { 
    text-align: center;
    background-color: #627495;
    color: #ABAEB2;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 5;
    height: 3vh;
    font-family: 'Bitter-Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vh;

}
}
    
#site_menu {
    position: fixed;
    top: 25vh;
    width: 5vh;
    height: 70vh;
    margin-left: 3vh;
    z-index: 2;
}

@media only screen and (max-width :600px) {
  #site_menu {
    top: 75vh;
    width: 100vw;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    margin-left: 0;
  }
}

  .menubutton {
    background-color: #627495; 
    color: #ABAEB2; 
    border: 3px solid #627495;
    padding: 1vh;
    text-align: center;
    text-decoration-color: #ABAEB2;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Bitter-Regular';
    border-radius: 12px;
  }

  @media only screen and (max-width :600px) {
    .menubutton {
      font-size: 1rem;
    }
  }
  
  .menubutton:hover {
    color: #EA802E;
    border-color: #ABAEB2;
    background-color: #506073;
  }

.container {
  position: fixed;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 87vh;
  width: 100%;
  margin-top: 10vh;
}

.container > .content_boxes {
  height: 87vh;
  justify-content: center;
  scroll-snap-align: start;

}

.container .content_boxes:nth-child(1) {
  height: 87vh;
  justify-content: center;
  scroll-snap-align: start;
}

.container .content_boxes:nth-child(2) {
  height: 87vh;
  justify-content: center;
  scroll-snap-align: start;
}

.container .content_boxes:nth-child(3) {
  height: 87vh;
  justify-content: center;
  scroll-snap-align: start;
}

.container .content_boxes:nth-child(4) {
  height: 87vh;
  justify-content: center;
  scroll-snap-align: start;
}

.container .content_boxes:nth-child(6) {
  height: 15vh;
  background-color: #627495;
  border-bottom: none;
}

.map_container {
  height: 25vh;
  width: 25vw;
}

.menu_container {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  height: 87vh;
  width: 100%;
  display: grid;
  grid-template-columns: 100% 100% 100%;
  -webkit-overflow-scrolling: auto;
  grid-template-areas:
    "a b c";

}

.menu_container > .menu_content_boxes {
  height: 87vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  scroll-snap-align: start;
}

.menu_container .menu_content_boxes:nth-child(1) {
  height: 87vh;
  scroll-snap-align: start;
  justify-content: center;
  grid-area: a;
  position: relative;
}

.menu_container .menu_content_boxes:nth-child(2) {
  height: 87vh;
  justify-content: center;
  scroll-snap-align: start;
  grid-area: b;
  position: relative;
}

.menu_container .menu_content_boxes:nth-child(3) {
  height: 87vh;
  justify-content: center;
  scroll-snap-align: start;
  grid-area: c;
  position: relative;
}

.arrows {
   width: 2vh;
   height: 2vh;
   color: rgba(32, 103, 151, 0.384);
   position: absolute;
   top: 50%;
   margin-top: -10vh;
}

.prev {
   border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(45deg);
   left: 10vw;
}

@media only screen and (max-width :600px) {
  .prev {
    left: 2vw;
  }
}

.next {
   border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(-135deg);
   right: 2vh;
}